Repository rdall96/minecraft-docker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: vanilla-build, forge-build

vanilla-build:
  stage: build
  script:
  - echo "Building Vanilla Minecraft Docker images..."
  - bash run.sh --minecraft "$MINECRAFT_VERSION"

forge-build:
  stage: build
  script:
  - echo "Building Forge Minecraft Docker images..."
  - bash run.sh -t forge --minecraft "$MINECRAFT_VERSION"

Bedrock builds support
  .gitlab-ci.yml
  config.yaml
  minecraft/bedrock/Dockerfile
  minecraft/bedrock/start_server.sh
  minecraft/forge/Dockerfile
  minecraft/vanilla/Dockerfile
  src/downloaders/bedrock_downloader.py
  src/downloaders/downloader_factory.py
  src/downloaders/forge_downloader.py
  src/main.py
  src/utilities/config.py
  src/utilities/types.py
Due: vanilla-build, forge-build

debugging bedrock runtime
  minecraft/bedrock/start_server.sh
Due: none

Revert "debugging bedrock runtime"
  minecraft/bedrock/start_server.sh
Due: none

Fixed forge startup script to be backwards compatible with older versions
  minecraft/forge/start_server.sh
Due: forge-build

Fixed default java versions for Minecraft 1.12-1.14
  config.yaml
Due: none

Added support to edit online-mode env var
  minecraft/forge/start_server.sh
  minecraft/vanilla/start_server.sh
Due: vanilla-build, forge-build

Updated README.md
  README.md
Due: none

disabled use of recommended forge version to allow for true latest-forge builds
  src/downloaders/forge_downloader.py
Due: none

Forge images are now tagged with forge version
  src/downloaders/__init__.py
  src/downloaders/forge_downloader.py
  src/main.py
Due: vanilla-build, forge-build

Added support for all relevant server properties as environment variables
  README.md
  minecraft/forge/start_server.sh
  minecraft/vanilla/start_server.sh
Due: vanilla-build, forge-build

More meaningful error message for failed Forge downloads
  src/downloaders/forge_downloader.py
  src/utilities/exceptions.py
Due: none

Added recommended java version for Minecraft 1.20
  config.yaml
Due: none

Fabric support
  config.yaml
  minecraft/fabric/Dockerfile
  minecraft/fabric/start_server.sh
  src/downloaders/__init__.py
  src/downloaders/downloader_factory.py
  src/downloaders/fabric_downloader.py
  src/downloaders/forge_downloader.py
  src/utilities/exceptions.py
  src/utilities/types.py
Due: none

Fabric build version tag
  src/main.py
Due: vanilla-build, forge-build

Added fabric builds to nightly CI config
  .gitlab-ci.yml
Due: none

Disabled bedrock builds until support for dyanmic versioning is available
  .gitlab-ci.yml
Due: none

Fixed bug with fabric docker tag versioning
  src/downloaders/fabric_downloader.py
  src/main.py
Due: vanilla-build, forge-build

Expose server port on Dockerfile
  minecraft/bedrock/Dockerfile
  minecraft/fabric/Dockerfile
  minecraft/forge/Dockerfile
  minecraft/vanilla/Dockerfile
Due: vanilla-build, forge-build

Updated README
  README.md
Due: none

Added support for the op-permission-level parameter to the server startup script
  README.md
  minecraft/fabric/start_server.sh
  minecraft/forge/start_server.sh
  minecraft/vanilla/start_server.sh
Due: vanilla-build, forge-build

Trying docker in docker
  .gitlab-ci.yml
Due: none

Revert "Trying docker in docker"
  .gitlab-ci.yml
Due: none

Added support for Minecraft server queries
  README.md
  minecraft/fabric/start_server.sh
  minecraft/forge/start_server.sh
  minecraft/vanilla/start_server.sh
Due: vanilla-build, forge-build

Added mapping for server peristent configs like the operators list
  README.md
  minecraft/fabric/Dockerfile
  minecraft/fabric/start_server.sh
  minecraft/forge/Dockerfile
  minecraft/forge/start_server.sh
  minecraft/vanilla/Dockerfile
  minecraft/vanilla/start_server.sh
  src/utilities/config.py
Due: vanilla-build, forge-build

Version 2.1.0
  .gitlab-ci.yml
  Dockerfile
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/CLI/DownloadCommand.swift
  Sources/CLI/ListCommand.swift
  Sources/CLI/MinecraftVersionOptions.swift
  Sources/CLI/RunCommand.swift
  Sources/CLI/VersionCommand.swift
  Sources/MinecraftDocker.swift
  Sources/Runtimes/FabricRuntimeProvider.swift
  Sources/Runtimes/ForgeRuntimeProvider.swift
  Sources/Runtimes/MinecraftDownloader.swift
  Sources/Runtimes/MinecraftRuntime.swift
  Sources/Runtimes/VanillaRuntime.swift
  Sources/Shared/Helpers.swift
  Sources/Shared/MinecraftVersionType.swift
  Sources/Version.swift
Due: none

[CI] Only tag latest CLI image if this runs in a protected environment
  .gitlab-ci.yml
Due: none

Version 2.1.1
  Package.resolved
  Package.swift
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/CLI/RunCommand.swift
  Sources/Version.swift
Due: none

[CI] Always tag the latest release image
  .gitlab-ci.yml
Due: none

Changed JavaVersion type to automatically update and support new versions
  Package.resolved
  Sources/Builder/JavaVersion.swift
  Sources/Version.swift
Due: none

NeoForged mod loader support
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/Runtimes/ForgeRuntimeProvider.swift
  Sources/Runtimes/MinecraftDownloader.swift
  Sources/Runtimes/NeoForgedRuntimeProvider.swift
  Sources/Shared/MinecraftVersionType.swift
  Sources/Version.swift
Due: none

Conditional imiport fo FoundationNetworking for linux platforms
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/Runtimes/FabricRuntimeProvider.swift
  Sources/Runtimes/ForgeRuntimeProvider.swift
  Sources/Runtimes/MinecraftDownloader.swift
  Sources/Runtimes/MinecraftRuntime.swift
  Sources/Runtimes/VanillaRuntime.swift
  Sources/Shared/URLSession.swift
Due: none

Global typealias for HTTURLResponse in FoundationNetworking
  Sources/Shared/URLSession.swift
Due: none

[README] Listed new supported versions
  README.md
Due: none

Support for Quilt mod loader (beta)
  README.md
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/Runtimes/FabricRuntimeProvider.swift
  Sources/Runtimes/ForgeRuntimeProvider.swift
  Sources/Runtimes/MinecraftDownloader.swift
  Sources/Runtimes/NeoForgedRuntimeProvider.swift
  Sources/Runtimes/QuiltRuntimeProvider.swift
  Sources/Runtimes/VanillaRuntime.swift
  Sources/Shared/MinecraftVersionType.swift
  Sources/Version.swift
Due: none

Added `max-tick-time` and `max-world-size` to the server properties
  Sources/Builder/Defaults.swift
Due: none

Added support for builds requiring java 22, 23, and 24
  Sources/Builder/JavaVersion.swift
Due: none

Ability to specify the mod loader version when building modded images
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Sources/CLI/DownloadCommand.swift
  Sources/CLI/GameVersionOptions.swift
  Sources/CLI/RunCommand.swift
  Sources/Runtimes/FabricRuntimeProvider.swift
  Sources/Runtimes/ForgeRuntimeProvider.swift
  Sources/Runtimes/MinecraftDownloader.swift
  Sources/Runtimes/MinecraftRuntime.swift
  Sources/Runtimes/NeoForgedRuntimeProvider.swift
  Sources/Runtimes/QuiltRuntimeProvider.swift
  Sources/Runtimes/VanillaRuntime.swift
  Sources/Shared/Exceptions.swift
  Sources/Shared/Minecraft.swift
  Sources/Shared/MinecraftVersionType.swift
  Sources/Version.swift
  Tests/MinecraftBuilderTests.swift
  Tests/MinecraftDownloaderTests.swift
Due: none

Added tests for downloading and building custom versions
  Sources/Builder/MinecraftBuilder.swift
  Sources/CLI/BuildCommand.swift
  Tests/MinecraftBuilderTests.swift
  Tests/MinecraftDownloaderTests.swift
Due: none

Re-arranged some source files for arganization
  Sources/MinecraftDownloader.swift
  Sources/Runtimes/FabricRuntime.swift
  Sources/Runtimes/ForgeRuntime.swift
  Sources/Runtimes/NeoForgedRuntime.swift
  Sources/Runtimes/QuiltRuntime.swift
Due: none

Path conditions:
  vanilla-build: any of: minecraft/vanilla/*, src/*, config.yml
  forge-build: any of: minecraft/forge/*, src/*, config.yml
